# Ignores swap files.
.*.s??
.*.*.s??

# Ignores log files.
*.log

# Ignores configuration files that may contain sensitive information.
EA
nbproject
build.properties
files

# Ignores Finder metadata files on Mac
.DS_Store

# Ignores Vagrant folder.
.vagrant

# Ignores EA binary files.
*.ex4
*.ex5
